/*!*background-color: lightblue;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 100px;
margin-top: 100px;*/

body
{
    text-align: center;
    border: 3px solid black;
    margin: 5px 5px 5px 5px;
    background-color: lightblue;
}

#header1
{
    border: 3px solid black;
    text-align: center;
    margin: 5px 5px 5px 5px;
}
    #navheader1
    {
    border: 2px solid black;
    text-align: center;
    margin: 5px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
    }
#sectionleft
{
    height: 530px;
    width:300px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: left;
    border: 3px solid black;
    text-align: center;
}
#sectionleftheader
{
    height: 20px;
    width:270px;
    border: 2px solid black;
    text-align: center;
    margin: 2px 2px 2px 2px;

}
#sectionleftnav
{
    height: 453px;
    width:270px;
    margin: 2px 2px 2px 2px;
    border: 3px solid black;
    text-align: center;
}
#sectionright
{
    height: 530px;
    width:450px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: right;
    border: 3px solid black;
    text-align: center;
}
#footerbottom
{
    clear: both;
    border: 3px solid black;
    text-align: center;
}
.header{background-color: red}
.p{background-color: gray}
.nav{background-color: brown}
.section{background-color: orange}
.footer{background-color: blue}