/*!*background-color: lightblue;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 100px;
margin-top: 100px;*/

body
{
    text-align: center;
    border: 3px solid black;
    margin: 5px 5px 5px 5px;
    background-color: lightblue;
}

#header1
{
    border: 3px solid black;
    text-align: center;
    margin: 5px 5px 5px 5px;
}
    #navheader1
    {
    border: 2px solid black;
    text-align: center;
    margin: 5px 7px 7px 7px;
    padding: 5px 5px 5px 5px;
    }
#sectionleft
{
    height: 530px;
    width:510px;
    margin: 5px 2.5px 5px 5px;
    float: left;
    border: 3px solid black;
    text-align: center;
}
#sectionleftheader
{
    height: 25px;
    width:495px;
    border: 2px solid black;
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding-top:5px;

}
#sectionleftnav
{
    height: 228px;
    width:495px;
    margin: 5px 5px 5px 5px;
    border: 3px solid black;
    text-align: center;
    padding-top:200px;
}
#sectionleftfooter
{

    border: 3px solid black;
    text-align: center;
    margin: 5px 5px 5px 5px;
}
#sectionright
{
    height: 530px;
    width:780px;
    margin: 5px 5px 5px 2.5px;
    float: right;
    border: 3px solid black;
    text-align: center;
}
#sectionrightheader
{
height: 31px;
width:765px;
border: 2px solid black;
text-align: center;
margin: 5px 5px 5px 5px;
    padding-top: 10px;
}
#sectionrightarticle
{
    height: 209px;
    width:765px;
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
}
#sectionrightarticleheader
{
    height: 5px;
    width:750px;
    border: 2px solid black;
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding-top: 10px;
}
#sectionrightarticleP
{
    height: 20px;
    width:750px;
    border: 2px solid black;
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding-top: 15px;
}
#sectionrightarticlefooter
{
    height: 20px;
    width:750px;
    border: 2px solid black;
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding-top: 10px;
}
#sectionrightarticle2
{
    height: 209px;
    width:765px;
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
}
#sectionrightarticleheader
{
    height: 20px;
    width:750px;
    border: 2px solid black;
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding-top: 10px;
}
#footerbottom
{
    clear: both;
    border: 3px solid black;
    text-align: center;
    margin-bottom: 5px;
}
.header{background-color: red}
.p{background-color: gray}
.nav{background-color: brown}
.section{background-color: orange}
.footer{background-color: blue}
.article{background-color: chartreuse}